<button type="button" [ngClass]="{'btn-primary': style==='table', 'btn-secondary':style==='chart'}" class="btn" (click)="switch()">{{style==='table' ? 'Tabelle' : 'Diagram'}}</button>

<app-saldi-chart
  *ngIf="style==='chart'"
[saldi$]="saldi$"
></app-saldi-chart>
<app-saldi-table
  *ngIf="style==='table'"
  [saldi]="saldi$ | async"
></app-saldi-table>
<!--<button  type="button">Prev</button>-->
{{(page$ | async ) + 1}}
<!--<button" type="button">Next</button>-->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a (click)="prev$.next()" class="page-link" href="#">Previous</a></li>
    <li *ngFor="let i of repeat(totalPages); let ii = index" class="page-item"><a class="page-link" href="#">{{ii}}</a></li>
    <li class="page-item"><a  (click)="next$.next()" class="page-link" href="#">Next</a></li>
  </ul>
</nav>
