<table class="table">
  <thead>
  <tr>
    <th>Betrag</th>
    <th>Verwendungszweck</th>
    <th>Buchungstag</th>
    <th>IBAN</th>
    <th>Name</th>
    <th>Konto</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let buchung of buchungen">
    <td>{{buchung?.betrag | currency:buchung.waehrung}}</td>
    <td>{{buchung?.verwendungszweck}}</td>
    <td>{{buchung?.buchungstag | date:'dd.MM.yyyy'}}</td>
    <td>{{buchung?.otherPartner?.iban}}</td>
    <td>{{buchung?.otherPartner?.name}}</td>
    <td>{{buchung?.konto?.kontonummer}}</td>
  </tr>
  </tbody>
</table>
