<!--<button type="button" [ngClass]="{'btn-primary': style==='table', 'btn-secondary':style==='chart'}" class="btn"
        (click)="switch()">{{style === 'table' ? 'Tabelle' : 'Diagram'}}</button>-->
<app-combined-chart
  [buchungen$]="buchungen$"
  [saldi$]="saldi$"
></app-combined-chart>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a (click)="prev$.next()" class="page-link" href="javascript:void(null)">Previous</a></li>
    <li class="page-link">{{(page$ | async ) + 1}}</li>
    <li class="page-item"><a  (click)="next$.next()" class="page-link" href="javascript:void(null)">Next</a></li>
  </ul>
</nav>
